<div class="header-section">

  <div class="header-content">
    <div class="logo">
      <img src="../../assets/instagram-logo.png"/>
    </div>

    <div class="search">
      <form clrForm>
        <input clrInput placeholder="Search" name="input" [(ngModel)]="input" />
      </form>
    </div>

    <div class="buttons-holder">
      <clr-icon shape="home" size="24" class="is-solid"></clr-icon>
      <clr-icon shape="compass" size="24"></clr-icon>
      <clr-icon shape="heart" size="24"></clr-icon>
      <clr-icon shape="user" size="24"></clr-icon>
    </div>
  </div>


</div>
