.container {
  display: flex;
  flex-direction: row;

  background-color: purple;

  align-items: center;

  .item {
    flex: 1;

    padding: 10px;
    margin: 10px;
    background-color: orange;
  }


}

p {
  color: white;
  font-weight: 600;
}
