.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .item {
    flex: 1;

    width: 100%;
    padding: 10px;
    margin: 10px;
  }

  .example-header {
    background-color: purple;
  }

  .example-profile-information {
    background-color: mediumaquamarine;
  }

  .example-highlights {
    background-color: blue;
  }

  .example-photos {
    background-color: orange;
  }

}

p {
  color: white;
  font-weight: 600;
}


