<div class="profile-section">
  <div class="profile-picture-holder">
    <div>
      <img src="../../assets/jen-profile-picture.jpg"/>
    </div>
  </div>
  <div class="profile-information">

    <div class="profile-header">
      <h2>jenselter</h2>
      <button class="btn btn-primary btn-sm">Follow</button>
    </div>

    <div class="followers-posts-following-section">
      <span><b>1,567</b> posts</span>
      <span><b>12.8m</b> followers</span>
      <span><b>318</b> following</span>
    </div>

    <div class="general-information">
      <p><b>Jen Selter</b></p>
      <p>🍝 <a>@idreamaboutfood</a></p>
      <p>🍓 <a>@blendjet</a> co-owner</p>
      <p>🍫 <a>@jenstabar</a> founder</p>
      <p>👫 <a>@couplegoals</a> founder</p>
      <p>🏋️‍♀️ <a>@fitplan_app</a> elite trainer</p>
    </div>
  </div>
</div>
