.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.photo {
  margin: 10px;
}
