<div>
  <header class="header-6">
    <div class="branding">
      <img src="../assets/dreamixlogo.png"/>
    </div>
    <div class="header-nav">
      <a href="/examples" class="nav-link nav-text">Flex Examples</a>
      <a href="/layout" class="nav-link nav-text">Layout</a>
      <a href="/layout-with-components" class="nav-link nav-text">Layout with Components</a>
      <a href="/layout-partially-rewritten" class="nav-link nav-text">Layout partially rewritten</a>
      <a href="/discount-instagram" class="nav-link nav-text">Discount Instagram</a>
      <a href="/input-output" class="nav-link nav-text">Input and Output</a>
      <a href="/promises-example" class="nav-link nav-text">Promises</a>
      <a href="/observable-example" class="nav-link nav-text">Observable</a>
      <a href="/subjects-example" class="nav-link nav-text">Subjects</a>

    </div>
  </header>

  <router-outlet></router-outlet>
</div>


