<p>posts works!</p>

<div class="posts-holder">
  <div class="card" *ngFor="let post of (posts$ | async)">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-block">
      <div class="card-title">
        {{post.id}}
      </div>
      <div class="card-text">
        {{post.body}}
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-link" (click)="onEdit(post)">Edit</button>
      <button class="btn btn-sm btn-link" (click)="onDelete(post)">Delete</button>
    </div>
  </div>
</div>

